name: Build and Push Docker Images

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      # Step 1: Set up AWS credentials with session token
      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}  # Include the session token
          aws-region: us-east-2  # Corrected region input

      # Step 2: Login to Amazon ECR (region is now set globally)
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1


      # Step 3: Build MySQL Docker Image
      - name: Build MySQL Docker Image
        run: |
          docker build -t my_db -f Dockerfile_mysql .
          docker tag my_db:latest 011926502057.dkr.ecr.us-east-2.amazonaws.com/vipinecr/my_db:latest

      # Step 4: Build App Docker Image
      - name: Build App Docker Image
        run: |
          docker build -t my_app -f Dockerfile .
          docker tag my_app:latest 011926502057.dkr.ecr.us-east-2.amazonaws.com/vipinecr/my_app:latest

      # Step 5: Push Docker Images to ECR
      - name: Push Docker Images to ECR
        run: |
          docker push 011926502057.dkr.ecr.us-east-2.amazonaws.com/vipinecr/my_db:latest
          docker push 011926502057.dkr.ecr.us-east-2.amazonaws.com/vipinecr/my_app:latest
